@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  height: 0px;
  width: 8px;
  background-color: rgb(225, 225, 225);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: gray !important;
}

@font-face {
  font-family: "Ignazio";
  src: url(../public//fonts/Ignazio.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Coconat";
  src: url(../public/fonts/Coconat-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body.opened {
  position: fixed;
  overflow-y: hidden;
  height: 100vh;
}
body.closed {
  overflow: auto;
  height: auto;
  position: static;
}

:root {
  font-family: "Outfit", sans-serif;
  text-transform: capitalize;
  background-color: #f6f8fc;
}

.card:hover div img {
  transform: scale(120%, 120%);
  image-rendering: pixelated;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.anim_image {
  image-rendering: pixelated;
}

.scrollCheck {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
}

#style-2::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

#style-2::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(225, 225, 225) !important;
}
